on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'release/')}} # TODO: change to match our release version pattern

jobs:
  prepare:
    uses: ./.github/workflows/prepare.yml

  analyze:
    needs: [ prepare ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          # We must fetch at least the immediate parents so that if this is
          # a pull request, then we can checkout the head.
          fetch-depth: 2

      - name: Setup Go (version from go.mod)
        uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'

      - name: Download generated code
        uses: ./.github/actions/generated

      # Initializes the CodeQL tools for scanning.
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: "go"
          # If you wish to specify custom queries, you can do so here or in a config file.
          # By default, queries listed here will override any specified in a config file.
          # Prefix the list here with "+" to use these queries and those in the config file.
          # queries: ./path/to/local/query, your-org/your-repo/queries@main

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  lint:
    needs: [ prepare ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Go (version from go.mod)
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Download generated code
        uses: ./.github/actions/generated

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6.5.2
        with:
          version: v1.64.7

  test:
    needs: [ prepare ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Go (version from go.mod)
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Download generated code
        uses: ./.github/actions/generated

      - name: Run all tests
        run: go test -short -v ./... > test.log; exit ${PIPESTATUS[0]}

      - name: Pretty print tests running time
        run: grep --color=never -e '--- PASS:' -e '--- FAIL:' test.log | sed 's/[:()]//g' | awk '{print $2,$3,$4}' | sort -t' ' -nk3 -r | awk '{sum += $3; print $1,$2,$3,sum"s"}'

  build:
    needs: [ prepare ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for the changelog to work correctly.

      - name: Setup Go (version from go.mod)
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Download generated code
        uses: ./.github/actions/generated

      - name: Build
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: v2.8.1
          args: release --clean --skip publish --skip validate
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GORELEASER_CURRENT_TAG: v99.99-${{ github.run_id }} # TODO: dev package versioning

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-packages
          compression-level: 9
          path: dist/webitel-wfm-*.*

  deploy:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Noop
        run: echo