name: Run Go linters

on:
  workflow_call:

jobs:
  analyze:
    name: Analyze
    uses: webitel/webitel-wfm/.github/workflows/codeql-analysis.yml@main

  lint:
    name: Linting
    runs-on: ubuntu-latest
    needs: analyze
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Go (version from go.mod)
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Download dependencies
        run: go mod download

      - name: Generating code
        run: go generate

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6.1.1
        with:
          version: v1.61.0
